  <div class="navbar-fixed">
   <nav class="navbar-blue">
     <div class="nav-wrapper">
       <a href="#" class="menu-app-logo">Tracker</a>
       <span class="menu-app-version">Alpha</span></a>
       <ul class="right hide-on-med-and-down">
         <li><a href="https://github.com/andredarcie/tracker" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
         <li><a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
         <li><a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
       </ul>
     </div>
   </nav>
 </div>


<% if user_signed_in? %>
      <%= link_to('logout ', destroy_user_session_path, method: :delete) %>
   <% else %>
     <%= link_to('login ', new_user_session_path) %>
   <% end %>
