<footer class="page-footer valign-wrapper">
        <div class="container center-align">
        Made with love by <a href="https://github.com/andredarcie/tracker" 
            class="white-text">Tracker Community</a>
        </div>
</footer>