@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize/components/color";
$primary-color-dark:   color("indigo", "darken-2") !default;
$primary-color:        color("indigo", "base") !default;
$primary-color-light:  color("indigo", "lighten-4") !default;
$primary-color-text:   color("shades", "white") !default;
$accent-color:         color("indigo", "accent-2") !default;
$primary-text-color:   color("grey", "darken-4") !default;
$secondary-text-color: color("grey", "darken-1") !default;
$divider-color:        color("grey", "lighten-1") !default;
@import 'materialize';
@import 'font-awesome';
@import 'main';
@import "static_pages";
@import './menus/mainmenu';
@import './menus/sidemenu';
@import './menus/footer';
